Repository kobasisauri/bootcamp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

feat: stylelint-config-rational-order
  .commitlintrc
  .stylelintrc
  jsconfig.json
  package-lock.json
  package.json
Due: none

feat: Landing page
  src/App.js
  src/App.jsx
  src/assets/images/landing-pic.png
  src/assets/images/logo.png
  src/assets/images/small-landing.png
  src/features/Landing/Landing.jsx
  src/features/Landing/Landing.module.scss
  src/features/Landing/index.js
Due: eslint, prettier --write, stylelint

feat: env file & services
  .env
  src/services/dropdowns.js
  src/services/laptops.js
Due: eslint, prettier --write

feat: formik, formik-persist, yup packages
  package-lock.json
  package.json
Due: none

feat: variables & reset styles
  src/styles/abstracts/_variables.scss
  src/styles/base/_reset.scss
Due: prettier --write, stylelint

feat: FormControl UI component
  src/component/UI/FormControl/FormControl.jsx
  src/component/UI/FormControl/FormControl.module.scss
  src/component/UI/FormControl/index.js
Due: eslint, prettier --write, stylelint

feat: dropdown UI component
  src/component/UI/FormSelect/FormSelect.jsx
  src/component/UI/FormSelect/FormSelect.module.scss
  src/component/UI/FormSelect/index.js
Due: eslint, prettier --write, stylelint

feat: radio button UI component
  src/component/UI/RadioButton/RadioButton.jsx
  src/component/UI/RadioButton/RadioButton.module.scss
  src/component/UI/RadioButton/index.js
Due: eslint, prettier --write, stylelint

feat: datepicker input & fateformat functional
  src/component/UI/FormDate.jsx
  src/styles/index.scss
  src/styles/vendors/_calendar.scss
  src/utils/date.js
Due: eslint, prettier --write, stylelint

feat: success modal component
  src/assets/images/chevron-down.svg
  src/assets/images/success-img.png
  src/component/UI/SuccessModal/SuccessModal.jsx
  src/component/UI/SuccessModal/SuccessModal.module.scss
  src/component/UI/SuccessModal/index.js
Due: eslint, prettier --write, stylelint

feat: image drag & drop ui component
  src/assets/images/camera.svg
  src/assets/images/error-icon.svg
  src/assets/images/upload.svg
  src/component/UI/DropZone/DropZone.jsx
  src/component/UI/DropZone/DropZone.module.scss
  src/component/UI/DropZone/index.js
  src/component/UI/index.js
Due: eslint, prettier --write, stylelint

feat: configs & useIsMobile hook
  src/config.js
  src/helpers/hooks/useIsMobile.js
Due: eslint, prettier --write

feat: laptop add form layout
  src/assets/images/footer-logo.png
  src/assets/images/left.png
  src/component/layout/FormLayout.jsx
  src/component/layout/FormLayout.module.scss
Due: eslint, prettier --write, stylelint

feat: laptop add form style & functional
  src/App.jsx
  src/assets/images/lari.png
  src/assets/images/rectangle-error.png
  src/assets/images/rectangle.png
  src/features/AddRecords/AddRecords.module.scss
  src/features/AddRecords/pages/EmployeeForm.jsx
  src/features/AddRecords/pages/LaptopForm.jsx
Due: eslint, prettier --write, stylelint

feat: laptops list page
  src/features/Landing/Landing.jsx
  src/features/Laptops/pages/LaptopsList/LaptopsList.jsx
  src/features/Laptops/pages/LaptopsList/LaptopsList.module.scss
  src/features/Laptops/pages/LaptopsList/index.js
Due: eslint, prettier --write, stylelint

feat: laptop details page
  src/features/Laptops/pages/LaptopDetails/LaptopDetails.jsx
  src/features/Laptops/pages/LaptopDetails/LaptopDetails.module.scss
  src/features/Laptops/pages/LaptopDetails/index.js
Due: eslint, prettier --write, stylelint

fix: laptop details date field
  src/features/Laptops/pages/LaptopDetails/LaptopDetails.jsx
Due: eslint, prettier --write

fix: team dropdown change value bug
  src/features/AddRecords/pages/EmployeeForm.jsx
  src/features/AddRecords/pages/LaptopForm.jsx
Due: eslint, prettier --write

Path conditions:
  eslint: any of: src/**/*.{js,jsx}
  prettier --write: (any of: src/**/*.{js,jsx}) or (any of: src/**/*.{css,scss})
  stylelint: any of: src/**/*.{css,scss}
